<div>
    {{ range . }}
      {{if eq .Status "sent"}}
      <p class="sent">
        ID: {{ .Id }} COMPANY: {{ .Company }} STATUS: 
        <button hx-put="/jobs/{{ .Id }}" hx-vals='{"status":"rejected"}'>{{ .Status }}</button>
      </p>
      {{else if eq .Status "rejected"}}
      <p class="rejected">
        ID: {{ .Id }} COMPANY: {{ .Company }} STATUS: 
        <button hx-put="/jobs/{{ .Id }}" hx-vals='{"status":"default"}'>{{ .Status }}</button>
      </p>
      {{else}}
      <p class="default">
        ID: {{ .Id }} COMPANY: {{ .Company }} STATUS: 
        <button hx-put="/jobs/{{ .Id }}" hx-vals='{"status":"sent"}'>{{ .Status }}</button>
      </p>
      {{end}}
    {{end}}
</div>